.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox__dof2C {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-6zdmUhazuGOtXq);
  min-width: 0;
  padding: 0px;
}
.header2:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: 1;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .header2:global(.__wab_instance) {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    z-index: 1;
  }
}
.pageBanner {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-ljCKwPqLTKshwi);
  min-width: 0;
  padding: 0px;
}
.freeBox___7JA7G {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  background: none;
  max-width: 1380px;
  min-width: 0;
  padding: 64px 32px 58px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___7JA7G {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    min-width: 0;
    padding: 58px 32px 41px;
  }
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__yOlLl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__l9PFf {
  flex-direction: column;
  display: flex;
  position: absolute;
  background: #0f22229c;
  width: 100%;
  height: auto;
  margin-right: -373px;
  left: 187px;
  top: 98px;
  z-index: 111;
  min-width: 0;
  padding: 30px;
  border-left: 8px solid var(--token-XRmce5yZAHIjNc);
}
.freeBox__l9PFf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__l9PFf > :global(.__wab_flex-container) > *,
.freeBox__l9PFf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l9PFf > :global(.__wab_flex-container) > picture > img,
.freeBox__l9PFf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__l9PFf {
    position: relative;
    left: auto;
    top: auto;
    margin: 0px;
  }
}
.h1 {
  color: var(--token-6zdmUhazuGOtXq);
}
.text__de6AI {
  margin-top: calc(0px + 16px) !important;
  margin-bottom: 12px;
  padding-bottom: 0px;
  max-width: 602px;
  width: 100%;
  color: var(--token-6zdmUhazuGOtXq);
  min-width: 0;
}
.column___9SCxQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__n91Ko {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__n91Ko > picture > img {
  object-fit: cover;
}
.img__n91Ko > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___1IBw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.features {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-hLCdBgkSzQ6uCv);
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.features > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .features {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    background: var(--token-6zdmUhazuGOtXq);
    min-width: 0;
    padding: 0px;
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .features > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__utx1G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4.17em 15px 3.33em;
}
.h2___19B2Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2___19B2Q {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    text-align: center;
    color: var(--token-3YWEuPhf4lmO0S);
    font-family: "Montserrat", sans-serif;
    min-width: 0;
    margin: 0px 0px 0.25em;
  }
}
.text__yyd8K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 784px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 45px;
}
.container4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  max-width: 1170px;
  padding: 0px;
}
.container4 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .container4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    flex-grow: 0;
    max-width: 1170px;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .container4 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.outerRow2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.row2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.row2 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.row2 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .row2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .row2 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__pxTmh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__pxTmh {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 0px 15px;
  }
}
.freeBox__wym1L {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__wym1L > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__wym1L > :global(.__wab_flex-container) > *,
.freeBox__wym1L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wym1L > :global(.__wab_flex-container) > picture > img,
.freeBox__wym1L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__dbLav {
  display: block;
  width: 40px;
  height: 4px;
  max-width: 100%;
  background: var(--token-q102GxELAap7wb);
  flex-shrink: 0;
}
.h3__tfSjz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__tfSjz {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    min-width: 0;
  }
}
.text___6VJk3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0em;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___6VJk3 {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0em;
    margin-left: 0px;
    min-width: 0;
  }
}
.button__ibj68:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___1Nuw2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__aSh5P {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__w102R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.img__aVoq {
  position: relative;
  object-fit: cover;
  max-width: none;
  width: 400px;
  height: 400px;
  max-height: none;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__aVoq > picture > img {
  object-fit: cover;
}
.img__aVoq > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__aVoq {
    margin-bottom: 21px;
  }
}
.container5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  max-width: 1170px;
  padding: 0px;
  margin: 1.67em 0em;
}
.container5 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .container5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    flex-grow: 0;
    max-width: 1170px;
    min-width: 0;
    padding: 0px;
    margin: 1.67em 0em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .container5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.outerRow3 {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 0px;
}
.row4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.row4 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.row4 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .row4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .row4 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___12Vw0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.img__khXV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__khXV > picture > img {
  object-fit: cover;
}
.img__khXV > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__khXV {
    position: relative;
    object-fit: cover;
    max-width: 100%;
    margin: 0px 0px 20px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__khXV > picture > img {
    object-fit: cover;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__khXV > .__wab_img-spacer > img {
    object-fit: cover;
  }
}
.column__xV8C3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__xV8C3 {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 0px 15px;
  }
}
.h2__yfXz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 593px;
  color: var(--token-3YWEuPhf4lmO0S);
  font-family: "Montserrat", sans-serif;
  font-size: var(--token-26Yd8uDNos0HXm);
  padding-right: 0px;
  min-width: 0;
  margin: 0px 0px 30px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2__yfXz {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 593px;
    color: var(--token-3YWEuPhf4lmO0S);
    font-family: "Montserrat", sans-serif;
    padding-right: 0px;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text___2YrD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-eVa3tg1QgrSZmg);
  font-family: var(--token-8dJXRgK38o5aOl);
  font-size: var(--token-vC9xAvZ-kraewg);
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.link {
  flex-direction: row;
  background: var(--token-q102GxELAap7wb);
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  align-self: flex-start;
  border-radius: 300px;
  padding: 13px 24px;
  border: 1px solid transparent;
}
.link > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link > :global(.__wab_flex-container) > *,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link > :global(.__wab_flex-container) > picture > img,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.svg__hqU7P {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__atNdw {
  color: #ffffffd9;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.svg__aWv2O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.container6 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  max-width: 1170px;
  padding: 0px;
}
.container6 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .container6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    flex-grow: 0;
    max-width: 1170px;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .container6 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.outerRow4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.row3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.row3 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.row3 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .row3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .row3 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___1LOh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.img__j5Sy {
  position: relative;
  object-fit: cover;
  max-width: none;
  width: 400px;
  height: 400px;
  max-height: none;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__j5Sy > picture > img {
  object-fit: cover;
}
.img__j5Sy > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__y08DA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__y08DA {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 0px 15px;
  }
}
.freeBox__jkFuj {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__jkFuj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__jkFuj > :global(.__wab_flex-container) > *,
.freeBox__jkFuj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jkFuj > :global(.__wab_flex-container) > picture > img,
.freeBox__jkFuj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__dKoDr {
  display: block;
  width: 40px;
  height: 4px;
  max-width: 100%;
  background: var(--token-q102GxELAap7wb);
  flex-shrink: 0;
}
.h3__u1Biv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__u1Biv {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    min-width: 0;
  }
}
.text___8Avo0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0em;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___8Avo0 {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0em;
    margin-left: 0px;
    min-width: 0;
  }
}
.button__mbMzz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__rzd9T {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__oSFsE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.heroSection:global(.__wab_instance) {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
}
.footer:global(.__wab_instance) {
  position: relative;
  margin-top: calc(0px + 0px) !important;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
