.root {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-6zdmUhazuGOtXq);
  position: relative;
  min-width: 0;
  padding: 4.17em 0px 3.33em;
}
.root > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 3em 0px 2em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__oh4U3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2 {
    font-size: 32px;
    margin: 0px 0px 20px;
  }
}
.text__ujBUv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 694px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.columns__w4XvH {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__w4XvH > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__w4XvH > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__w4XvH > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__w4XvH {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__w4XvH > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__hkLI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__aVnA0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__aVnA0 > picture > img {
  object-fit: cover;
}
.img__aVnA0 > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__hPo6Q {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__hPo6Q > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__hPo6Q {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__hPo6Q > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__dyYcf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__bVjvT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-q102GxELAap7wb);
  font-size: var(--token-vC9xAvZ-kraewg);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__zivA1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-3YWEuPhf4lmO0S);
  font-size: var(--token-e9Ccr83kg_zKT0);
  padding-top: 14px;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__zivA1 {
    font-size: 20px;
  }
}
.text__vHpwm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button___70IgL:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__eGxL1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__bW7AM {
  font-size: 13px;
}
.svg__gi7Fs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__t1LsJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__rMYff {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__rMYff > picture > img {
  object-fit: cover;
}
.img__rMYff > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__qO5Aq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__qO5Aq > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__qO5Aq {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__qO5Aq > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__kpgMa {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column__kpgMa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.column__kpgMa > :global(.__wab_flex-container) > *,
.column__kpgMa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__kpgMa > :global(.__wab_flex-container) > picture > img,
.column__kpgMa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__yah0C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-q102GxELAap7wb);
  font-size: var(--token-vC9xAvZ-kraewg);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__a0Kpe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: var(--token-3YWEuPhf4lmO0S);
  font-size: var(--token-e9Ccr83kg_zKT0);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__a0Kpe {
    font-size: 20px;
    margin-top: calc(0px + 10px) !important;
  }
}
.text__vSmv0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px;
}
.button___07A7Y:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__bSAs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__grI5B {
  font-size: 13px;
}
.svg__bFSo9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__fp8N2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__q6Gvm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__q6Gvm > picture > img {
  object-fit: cover;
}
.img__q6Gvm > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__dpy3J {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__dpy3J > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__dpy3J {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__dpy3J > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__fAiWu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__hsA1K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-q102GxELAap7wb);
  font-size: var(--token-vC9xAvZ-kraewg);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__kzKlm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-3YWEuPhf4lmO0S);
  font-size: var(--token-e9Ccr83kg_zKT0);
  min-width: 0;
  margin: 11px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__kzKlm {
    font-size: 20px;
  }
}
.text__vAtmO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 0px 5px;
}
.button__klpg5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__tZ88G {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___1Ln4D {
  font-size: 13px;
}
.svg__cmxh5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
